<div class="container">
  
  <!-- Background image for left side -->
  <div id="background-image-left">
  </div>
 
  <!-- Background image for right side -->
  <div  id="background-image-right">
  </div>

  <!-- Navigation bar -->
  <div id="logo">
    <img  alt="Logo" src="assets/images/logo.png">
  </div>
  <div id="nav-bar-text-1">
    Products
  </div>
  <div id="nav-bar-text-2">
    Solutions
  </div>
  <div id="nav-bar-text-3">
    Pricing
  </div>
  <button class="button1">
    <div>Login</div>
  </button>
  <button class="button2">
    <div>Get Started</div>
  </button>
  
  <!-- Content on first half left -->
  <div class="text-element-1" id="text-element-1">
    <div  style="overflow: hidden;">
      <img src="assets/images/We make it Super Sim.svg">
    </div>
  </div>
  <div id="line-1">
  </div>
  <div id="collect-img">
    <div  style="overflow: hidden;">
      <img src="assets/images/collect_img-video.png">
    </div>
  </div>
  <div  id="accounting_dots_1">
  </div>
  
  <!-- Content on first half right -->
   <div  id="accounting_dots_2">
  </div>
  <div  id="group_6_img">
    <div style="overflow: hidden;">
      <img src="assets/images/Group 6.svg">
    </div>
  </div>
 
<!-- Secound half content -->
  <div  id="background-image-bottom">
    <div  style="overflow: hidden;">
      <div id="card-1">
        <app-card [imageUrl]="cardData[0].image_url" [titleUrl]="cardData[0].title" [textUrl]="cardData[0].text"></app-card>
      </div>
      <div id="card-2">
        <app-card [imageUrl]="cardData[2].image_url" [titleUrl]="cardData[2].title" [textUrl]="cardData[2].text"></app-card>
      </div>
      <div id="card-3">
        <app-card [imageUrl]="cardData[1].image_url" [titleUrl]="cardData[1].title" [textUrl]="cardData[1].text"></app-card>
      </div>
      <div id="card-4">
        <app-card [imageUrl]="cardData[3].image_url" [titleUrl]="cardData[3].title" [textUrl]="cardData[3].text"></app-card>
      </div>
      <div id="card-5">
        <app-card [imageUrl]="cardData[4].image_url" [titleUrl]="cardData[4].title" [textUrl]="cardData[4].text"></app-card>
        <div id="path-img-1">
          <img src="assets/images/Path.svg">
        </div>
        <div id="path-img-2">
          <img src="assets/images/Path.svg">
        </div>
      </div>
      <div id="text-element-2">
        <div style="overflow: hidden;">
          <img src="assets/images/Boost_your_ business.svg">
        </div>
      </div>
      <div id="line_3">
        <div style="overflow: hidden;">
          <img src="assets/images/Line 3.svg">
        </div>
      </div>
      <div id="text-element-3">
        <div style="overflow: hidden;">
          <img src="assets/images/Get your hands on a.svg">
        </div>
      </div>
      <button class="button3">
        Get an Open Account
      </button>
    </div>
  </div>
 
</div>
