.container {
  width: 93.7vw;
  height: 100vw;
  background: #FCFCFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

#background-image-right {
  top: -227.9068603515625px;
  left: 852px;
  position:absolute;
  overflow: hidden;
}

#circle-image{
    display: inline-block;
    width: 78.2vw;
    height: 100vw;
    overflow: hidden;
}

#background-image-bottom{
  top: 1209px;
  background-image: url(src/assets/images/sol_wave_bg.svg);
  z-index:2;
  position:absolute;
  width: 1920px;
  height: 936px;
  background-size: cover;
}

#background-image-left{
  top: 213px;
  left: -179px;
  width: 571px;
  height: 572px;
  background: transparent url(src/assets/images/blob-small.svg)  0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

#text-element-2{
  top: 168.29px;
  left: 1158.68px;
  opacity: 1;
  position: absolute;
  font-family: 'Montserrat', sans-serif;;
}

#text-element-2 img{
  width: 490px;
  height: 98px;
  font-family: 'Montserrat', sans-serif;;
}

#text-element-1{
  top:270px;
  left:189px;
  opacity: 1;
  position: absolute;
  font-family: 'Montserrat', sans-serif;;
}

#text-element-1 img{
  width: 407px;
  height: 98px;
  font-family: 'Montserrat', sans-serif;;
}

#collect-img{
  top:466px;
  left: 136px; 
  opacity: 1;
  position: absolute;
}

#collect-img img{
  width: 652px;
  height: 365px;
}

#group_6_img{
  top:234px;
  left:1100px;
  opacity: 1;
  position: absolute;
  height: 675px;
}

#group_6_img img{
  object-fit: cover;
}

#accounting_dots_1{
  top:796px;
  left: 462px;
  width: 430px;
  height: 70px;
  opacity: 0.5;
  position: absolute;
  background: transparent url(src/assets/images/accounting_dots.svg) 0% no-repeat padding-box;
}

#accounting_dots_2{
  top: 936px;
  left: 1458px;
  width: 430px;
  height: 70px;
  opacity: 0.5;
  position: absolute;
  background: transparent url(src/assets/images/accounting_dots.svg) 0% no-repeat padding-box;
}

#line_3{
  top:319.11px;
  left:1158.11px;
  position: absolute;
  opacity: 1;
}

#line_3 img{
  width: 120.44px;
  height: 0px;
  border: 6px solid #707070;
  border-radius: 13px
}

#text-element-3{
  top:352.29px;
  left: 1157.68px;
  position: absolute;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;;
}

#text-element-3 img{
  width: 490px;
  height: 44px;
  font-family: 'Montserrat', sans-serif;;
}

.button3{
  width: 279px;
  height: 58px;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  position: absolute;
  left: 1157.68px;
  top: 477.29px;
  text-align: center;
  letter-spacing: 0px;
  color: #663399;
  opacity: 1;
  background-color: transparent;
}

.button3 div{
  width: 198px;
  height: 22px;
  text-align: center;
  letter-spacing: 0px;
  color: #663399;
  opacity: 1;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  top: 18.27px;
  left: 33.54px;
  position: absolute;
  font-size: 17px;
}
#card-1{
  bottom: 755px;
  left: 190.68px;
  background: transparent url('src/assets/images/Rectangle Copy 23.svg') 50% no-repeat padding-box;
  position: absolute;
  width: 391px;
  height: 253px;
  box-shadow: 0px 0px 30px #2321321F;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
}

#card-2{
  top: 577.29px;
  left: 190.68px;
  background: transparent url('src/assets/images/Rectangle Copy 17.svg') 50% no-repeat padding-box;
  position: absolute;
  width: 391px;
  height: 253px;
  box-shadow: 0px 0px 30px #2321321F;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
}

#card-3{
  top: 241.29px;
  left: 190.68px;
  background: transparent url('src/assets/images/Rectangle Copy 19.svg') 50% no-repeat padding-box;
  position: absolute;
  width: 391px;
  height: 253px;
  box-shadow: 0px 0px 30px #2321321F;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
}

#card-4{
  top: 52.29px;
  left: 629.68px;
  background: transparent url('src/assets/images/Rectangle 2.svg') 50% no-repeat padding-box;
  position: absolute;
  width: 390px;
  height: 272px;
  opacity: 1;
}

#card-5{
  top: 384.29px;
  left: 629.68px;
  background: transparent url('src/assets/images/Rectangle Copy 19.svg') 50% no-repeat padding-box;
  position: absolute;
  width: 390px;
  height: 272px;
  box-shadow: 0px 0px 30px #2321321F;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
}

#line-1{
  top: 376px;
  left: 192px;
  background: #000000  0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  position: absolute;
  width: 236px;
  height: 8px;
}

#logo{
  left: 120px;
  top:27px;
  position: absolute;
  opacity: 1;
  overflow: hidden;
}

#log img{
  width: 123px;
  height: 123px;
}

#nav-bar-text-1{
  top: 68px;
  left: 1030px;
  text-align: left;
  font: normal normal normal 25px/34px Open Sans;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  width: 103px;
  height: 34px;
  position: absolute;
}

#nav-bar-text-2{
  top: 68px;
  left: 1183px;
  text-align: left;
  font: normal normal normal 25px/34px Open Sans;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  width: 103px;
  height: 34px;
  position: absolute;
}

#nav-bar-text-3{
  top: 68px;
  left: 1341px;
  text-align: left;
  font: normal normal normal 25px/34px Open Sans;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  width: 103px;
  height: 34px;
  position: absolute;
}

.button1{
  top: 63px;
  left: 1480px;
  width: 118px;
  height: 45px;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  position: absolute;
  background-color: transparent;
}

.button1 div{
  width: 46px;
  height: 19px;
  text-align: center;
  letter-spacing: 0px;
  color: #663399;
  opacity: 1;
  display: contents;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.button2{
  top: 63px;
  left: 1622px;
  width: 166px;
  height: 45px;
  background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  position: absolute;
  border: none;
}

.button2 div{
  width: 94px;
  height: 19px;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  display: contents;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
}

#path-img-1{
  top:51.05px;
  left: 33.42px;
  position: absolute;
  opacity: 1;
}

#path-img-1 img{
  width: 12px;
  height: 12px;
}

#path-img-2{
  top: 65.5px;
  left: 35.83px;
  position: absolute;
  opacity: 1;
}

#path-img-2 img{
  width: 7px;
  height: 7px;
}